
.dash_link{
    width: 100px;
    height: 50px; 
    background-color: rgb(89, 174, 223); 
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.dash_link:hover{
    background-color: rgb(7, 58, 87); 
    color: white;
    cursor:pointer;
}

.selected-Link{
    background-color: rgb(7, 58, 87); 
    color: white;
}

.container.lower{
    position: relative;
    top: 20px;
}