<div class="p-grid ">
    <div class="p-col-2 p-shadow-1">
      <div class="p-d-flex p-flex-column p-shadow-1">
        <div class="p-mb-2 p-shadow-4 p-py-4" routerLink="/about" routerLinkActive="active-page">About</div>
        <div class="p-mb-2 p-shadow-4 p-py-4" routerLink="/resume" routerLinkActive="active-page">Resume</div>
        <div class="p-mb-2 p-shadow-2 p-py-4" routerLink="/works" routerLinkActive="active-page">Works</div>
        <div class="p-mb-2 p-shadow-4 p-py-4" routerLink="/contact" routerLinkActive="active-page">Contact</div>
        <div class="p-mb-2 p-shadow-4 p-py-4" routerLink="/blog" routerLinkActive="active-page">Blog</div>
      </div>
    </div>
    <div class="p-col-10 p-shadow-1 ">
      <router-outlet></router-outlet>
    </div> 
</div>


