/* You can add global styles to this file, and also import other style files */

body{
  font-family:cursive;
  /* background-image: url(); */
  background-color: #0c1414;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}